/* *{
    background-color: black;
} */

.form-control {
    border-radius: 5px;
    width: 30%;
    right: 19%;
    top: 32%;
    position: absolute;
}

.search-icon {
    position: absolute;
    left: 82%; 
    color: pink;
    top: 40%;
}

.btn {
    left: 86%;
    position: absolute;
    top: 32%;
}